<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adasplus.basicinfo">

    <application>
        <activity android:name=".activity.SystemInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.DriverInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CarInfoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>